[submodule "libs/thrift"]
	path = libs/thrift
	url = https://github.com/apache/thrift
[submodule "libs/Catch2"]
	path = libs/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "libs/rapidjson"]
	path = libs/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "libs/softfloat"]
	path = libs/softfloat
	url = https://github.com/eosio/berkeley-softfloat-3
