[submodule "libs/thrift"]
	path = libs/thrift
	url = https://github.com/apache/thrift
[submodule "libs/Catch2"]
	path = libs/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "libs/rapidjson"]
	path = libs/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "libs/libc++/libcxx"]
	path = libs/libc++/libcxx
	url = https://github.com/EOSIO/libcxx
[submodule "libs/libc/musl"]
	path = libs/libc/musl
	url = https://github.com/eosio/musl
